@{
    ViewData["Title"] = "Аренда машины";
}

<div class="text-center">
    <h1 class="display-4">Аренда машин!</h1>
    <p>Автор: <a href="https://github.com/kkoova"> Коробейникова Алина</a>.</p>
    <p>Группа: ИП - 21 - 3</p>
</div>

<br>

<div class="btn-group" role="group" aria-label="Basic example">
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" data-whatever="mdo">Добавить машину</button>
    <button type="button" class="btn btn-primary">Удалить машину</button>
    <button type="button" class="btn btn-primary">Редактировать</button>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Добавление машины</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form class="row g-4">
                    <div class="col-md-6">
                        <label for="validationDefault04" class="form-label">Марка машины</label>
                        <select class="form-select" id="validationDefault04" required>
                            <option>Hyundai Cross</option>
                            <option>Lada vesta</option>
                            <option>Mitsubishi Outlander</option>
                        </select>
                    </div>
                    <div class="col-md-6">
                        <label for="validationDefault03" class="form-label">Номер машины</label>
                        <input type="text" class="form-control" id="validationDefault03" required>
                    </div>

                    <div class="col-md-4">
                        <label for="validationDefault01" class="form-label">Пробег машины</label>
                        <input type="number" class="form-control" id="validationDefault01" value="Mark" required>
                    </div>
                    <div class="col-md-4">
                        <label for="validationDefault01" class="form-label">Средний расход</label>
                        <input type="number" class="form-control" id="validationDefault01" value="Mark" required>
                    </div>
                    <div class="col-md-4">
                        <label for="validationDefault01" class="form-label">Объем топлива</label>
                        <input type="number" class="form-control" id="validationDefault01" value="Mark" required>
                    </div>

                    <div class="col-md-12">
                        <label for="validationDefault01" class="form-label">Стоимость аренды</label>
                        <input type="number" class="form-control" id="validationDefault01" value="Mark" required>
                    </div>       
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
                        <button class="btn btn-primary" type="submit">Сохранить</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<br>
<br>

<table class="table">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Марка машины</th>
            <th scope="col">Номер машины</th>
            <th scope="col">Пробег машины</th>
            <th scope="col">Средний расход топлива</th>
            <th scope="col">Объем топлива</th>
            <th scope="col">Стоимость аренды</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>mdo</td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>fat</td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td colspan="2">Larry the Bird</td>
            <td>twitter</td>
        </tr>
    </tbody>
</table>
