@{
    ViewData["Title"] = "Аренда машины";
}

<div class="text-center">
    <h1 class="display-4">Аренда машин!</h1>
    <p>Автор: <a href="https://github.com/kkoova"> Коробейникова Алина</a>.</p>
    <p>Группа: ИП - 21 - 3</p>
</div>
<br>
<div class="btn-group" role="group" aria-label="Basic example">
    <button type="button" class="btn btn-primary">Добавить машину</button>
    <button type="button" class="btn btn-primary">Удалить</button>
    <button type="button" class="btn btn-primary">Редактировать</button>
</div>
<br>
<br>
<table class="table">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Марка машины</th>
            <th scope="col">Номер машины</th>
            <th scope="col">Пробег машины</th>
            <th scope="col">Средний расход топлива</th>
            <th scope="col">Объем топлива</th>
            <th scope="col">Стоимость аренды</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>mdo</td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>fat</td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td colspan="2">Larry the Bird</td>
            <td>twitter</td>
        </tr>
    </tbody>
</table>
